.vscode/
node_modules/
dist/
*.log
.env
.DS_Store
test-results/
reports/
.cache/
.idea/
*.tsbuildinfo
coverage/
*.local
*.env
*.env.local
*.env.development
*.env.test
*.env.production
.vscode-test/
allure-results/
allure-report/
playwright-report/
