name: Playwright Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch: # Allows manual triggering from GitHub UI

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20' # Use LTS version

    - name: Install Dependencies
      run: npm ci # 'ci' is faster and safer than 'install' for CI environments

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Run Playwright Tests
      env:
        # Secrets are managed in GitHub Repo Settings -> Secrets
        BASE_URL: ${{ secrets.BASE_URL }} 
        USERNAME: ${{ secrets.USERNAME }}
        PASSWORD: ${{ secrets.PASSWORD }}
        # CI flag tells Playwright to use "retries" and "workers" from config
        CI: true 
      run: npm run test

    - name: Generate Allure Report
      if: always() # Run this even if tests fail
      run: |
        npx allure generate allure-results --clean -o allure-report

    - name: Upload HTML Report
      if: always() # Run this even if tests fail
      uses: actions/upload-artifact@v4
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30

    - name: Upload Allure Results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: allure-results
        path: allure-results/
        retention-days: 20
    
    - name: Upload Allure Report
      if: always()  # Run this even if tests fail
      uses: actions/upload-artifact@v4
      with:
        name: allure-report
        path: allure-report/
        retention-days: 5